@use "../../../styles/theme" as theme;
@use "../../../styles/globals";
@use "sass:color";
@use "sass:map";

.checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: theme.$spacing-sm;
  font-size: theme.$font-size-base;
  user-select: none;
  position: relative;
  transition: all theme.$transition-default;
  background-color: transparent;
}

.input {
  position: absolute;
  display: none;
  pointer-events: none;
  left: 0;
}

.box {
  width: 18px;
  height: 18px;
  border-radius: 4px;
  border: 2px solid currentColor;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color-lighter);
  position: relative;
  transition: all theme.$transition-default;
}

.box::after {
  content: "";
  width: 10px;
  height: 5px;
  border-left: 2px solid currentcolor;
  border-bottom: 2px solid currentcolor;
  transform: rotate(-45deg);
  opacity: 0;
  transition: all theme.$transition-default;
}

.input:checked + .box::after {
  opacity: 1;
}

.box.indeterminate::after {
  opacity: 1;
  content: "";
  width: 10px;
  height: 2px;
  background-color: currentcolor;
  border: none;
  transform: none;
}

.label {
  color: var(--text-color-primary);
  font-size: theme.$font-size-sm;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

@each $theme, $props in theme.$themes {
  .#{$theme} {
    color: map.get($props, border);
  }

  .box.#{$theme} {
    border-color: map.get($props, text);
  }

  .input:checked .box.#{$theme}::after {
    border-color: map.get($props, border);
  }
}

@each $theme, $props in theme.$states {
  .#{$theme} {
    color: map.get($props, border);
  }

  .box.#{$theme} {
    border-color: map.get($props, border);
  }

  .input:checked .box.#{$theme}::after {
    border-color: map.get($props, border);
  }
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
  color: theme.$disabled-color;
}
