@use "../../../styles/theme" as theme;
@use "../../../styles/globals";
@use "sass:color";
@use "sass:map";

$checkbox-sizes: (
  xs: 0.75em,
  small: 0.875em,
  medium: 1em,
  large: 1.25em,
  xl: 1.5em,
);
$checkmark-sizes: (
  xs: (
    width: 0.41em,
    height: 0.15em,
    border-width: 0.1em,
  ),
  small: (
    width: 0.43em,
    height: 0.2em,
    border-width: 0.115em,
  ),
  medium: (
    width: 0.505em,
    height: 0.215em,
    border-width: 0.125em,
  ),
  large: (
    width: 0.63em,
    height: 0.35em,
    border-width: 0.15em,
  ),
  xl: (
    width: 0.75em,
    height: 0.4em,
    border-width: 0.175em,
  ),
);
$label-font-sizes: (
  xs: theme.$font-size-xs,
  small: theme.$font-size-sm,
  medium: theme.$font-size-base,
  large: theme.$font-size-lg,
  xl: theme.$font-size-xl,
);

.checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: theme.$spacing-sm;
  font-size: theme.$font-size-base;
  user-select: none;
  position: relative;
  transition: all theme.$transition-default;
  background-color: transparent;
}

.input {
  position: absolute;
  display: none;
  pointer-events: none;
  left: 0;
}

@each $key, $value in theme.$rounding {
  .round#{$key} .box {
    border-radius: $value;
  }
}

@each $key, $value in theme.$shadow {
  .shadow#{$key} .box {
    box-shadow: $value;
  }
}

@each $size, $dimension in $checkbox-sizes {
  .#{$size} .box {
    width: $dimension;
    height: $dimension;
  }

  .#{$size} .box::after {
    $checkmark: map.get($checkmark-sizes, $size);

    width: map.get($checkmark, width);
    height: map.get($checkmark, height);
    border-left: map.get($checkmark, border-width) solid currentcolor;
    border-bottom: map.get($checkmark, border-width) solid currentcolor;
  }

  .#{$size} .box.indeterminate::after {
    $checkmark: map.get($checkmark-sizes, $size);

    width: map.get($checkmark, width);
    height: map.get($checkmark, border-width);
  }

  .#{$size} .label {
    font-size: map.get($label-font-sizes, $size);
  }
}

.box {
  width: 1em;
  height: 1em;
  border: 2px solid currentcolor;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  position: relative;
  transition: all theme.$transition-default;
}

.box::after {
  content: "";
  transform: rotate(-45deg);
  opacity: 0;
  transition: all theme.$transition-default;
}

.input:checked + .box::after {
  opacity: 1;
}

.box.indeterminate::after {
  opacity: 1;
  content: "";
  background-color: currentcolor;
  border: none;
  transform: none;
}

.label {
  color: var(--text-color-primary);
  margin-bottom: -1px;
}

@each $theme, $props in theme.$themes {
  .#{$theme} {
    color: map.get($props, border);
  }

  .box.#{$theme} {
    border-color: map.get($props, text);
  }

  .input:checked .box.#{$theme}::after {
    border-color: map.get($props, border);
  }
}

@each $theme, $props in theme.$states {
  .#{$theme} {
    color: map.get($props, border);
  }

  .box.#{$theme} {
    border-color: map.get($props, border);
  }

  .input:checked .box.#{$theme}::after {
    border-color: map.get($props, border);
  }
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
  color: theme.$disabled-color;
}
