@use "../../../styles/theme" as theme;
@use "../../../styles/globals";
@use "sass:color";
@use "sass:map";

.divider {
  display: block;
  margin: 0 auto;
  flex-shrink: 0;
  transition: all theme.$transition-default;
  background-color: var(--text-color-primary);
  border-color: var(--text-color-primary);

  &_horizontal {
    width: 100%;
    height: 1px;
  }

  &_vertical {
    width: 1px;
    height: 100%;
  }

  &_dashed {
    background-color: transparent;
    border-color: transparent;

    &.divider_horizontal {
      height: 0;
      border-top: 1px dashed currentcolor;
    }

    &.divider_vertical {
      width: 0;
      border-left: 1px dashed currentcolor;
    }
  }

  &_disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  @each $theme, $values in theme.$themes {
    &_#{$theme} {
      background-color: map.get($values, bg);
      border-color: map.get($values, bg);
    }

    &_#{$theme}.divider_dashed {
      color: map.get($values, bg);
    }
  }
}
