@use "../../../styles/theme" as theme;
@use "../../../styles/globals";
@use "sass:map";
@use "sass:color";

$slider-sizes: (
  "xs": (
    track: 2px,
    thumb: 10px,
  ),
  "small": (
    track: 4px,
    thumb: 12px,
  ),
  "medium": (
    track: 6px,
    thumb: 14px,
  ),
  "large": (
    track: 8px,
    thumb: 16px,
  ),
  "xl": (
    track: 10px,
    thumb: 18px,
  ),
);

.container {
  display: flex;
  flex-direction: column;
  gap: theme.$spacing-xs;
}

.label {
  font-size: theme.$font-size-sm;
  color: var(--text-color-primary);
}

.wrapper {
  display: flex;
  align-items: center;
  gap: theme.$spacing-sm;
  width: 100%;
}

.slider {
  width: 100%;
  appearance: none;
  outline: none;
  background-color: var(--background-color-light);
  transition: background 0.3s ease;

  &::-webkit-slider-thumb,
  &::-moz-range-thumb {
    appearance: none;
    border-radius: 50%;
    background: currentcolor;
    cursor: pointer;
    box-shadow: 0 0 2px rgb(0 0 0 / 20%);
  }
}

@each $key, $value in theme.$rounding {
  .round#{$key} .slider {
    border-radius: $value;
  }
}

@each $key, $value in theme.$shadow {
  .shadow#{$key} .slider {
    box-shadow: $value;
  }
}

.value {
  font-size: theme.$font-size-sm;
  color: var(--text-color-primary);
  min-width: 2ch;
}

@each $name, $color in theme.$themes {
  .#{$name} .slider {
    background-color: map.get($color, bg);

    &::-webkit-slider-thumb,
    &::-moz-range-thumb {
      color: map.get($color, bg);
    }
  }
}

@each $name, $color in theme.$states {
  .#{$name} .slider {
    background-color: map.get($color, bg);

    &::-webkit-slider-thumb,
    &::-moz-range-thumb {
      color: map.get($color, bg);
    }
  }
}

.clear .slider {
  background-color: var(--background-color-light);
}

@each $size, $props in $slider-sizes {
  .#{$size} .slider {
    height: map.get($props, track);

    &::-webkit-slider-thumb,
    &::-moz-range-thumb {
      width: map.get($props, thumb);
      height: map.get($props, thumb);
    }
  }
}
