@use "../../../styles/theme" as theme;
@use "../../../styles/globals.scss";
@use "sass:map";


$progress-sizes: (
  "xs": (dimensions: 40px, font-size: theme.$font-size-xs),
  "small": (dimensions: 60px, font-size: theme.$font-size-sm),
  "medium": (dimensions: 100px, font-size: theme.$font-size-md),
  "large": (dimensions: 140px, font-size: theme.$font-size-base),
  "xl": (dimensions: 200px, font-size: theme.$font-size-lg),
);


.circularProgress {
  display: flex;
  justify-content: center;
  align-items: center;


  @each $size, $props in $progress-sizes {
    &.#{$size} {
      width: map.get($props, dimensions);
      height: map.get($props, dimensions);


      .ratingText {
        font-size: map.get($props, font-size);
        font-weight: theme.$font-weight-bold;
        color: var(--text-color-primary);
      }
    }
  }


  .circleBorder {
    width: 100%;
    height: 100%;
    border-radius: theme.$border-radius-round;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.5s ease-in-out;
  }

  .innerCircle {
    width: 80%;
    height: 80%;
    border-radius: theme.$border-radius-round;
    background: var(--background-color);
    padding: theme.$spacing-xxs;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}