@use "../../../styles/theme" as theme;
@use "../../../styles/globals";

$small-gap: 4px;
$medium-gap: 10px;
$large-gap: 20px;

.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: $medium-gap;
  max-width: 90%;
  margin: theme.$spacing-lg;
  justify-content: center;
  align-items: center;

  @media (width <=480px) {
    flex-direction: row;
    gap: $medium-gap;
  }

  &_controls {
    display: flex;
    align-items: center;

    @media (width <=480px) {
      gap: 5px;
    }

    @media (width <=400px) {
      order: -1;
      gap: $large-gap;
    }
  }

  &_buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    @media (width <=480px) {
      flex-grow: 1;
      flex-direction: row;
      gap: $small-gap;
      margin-top: $small-gap;
    }
  }

  &_button {
    margin: 2px;

    @media (width <=480px) {
      font-size: 12px;
    }
  }
}
