@use "../../../styles/theme" as theme;
@use "../../../styles/globals.scss";
@use "sass:map";

$radio-themes: (
  primary: var(--primary-color),
  secondary: var(--secondary-color),
  success: theme.$success-color,
  error: theme.$error-color,
  warning: theme.$warning-color,
  clear: var(--text-color-primary)
);

.radioWrapper {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  gap: theme.$spacing-sm;
  font-size: theme.$font-size-base;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
  transition: all theme.$transition-default;


  .radioInput {
    opacity: 0;
    position: absolute;
    pointer-events: none;
  }

  .radioCircle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid var(--text-color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all theme.$transition-default;

    &::after {
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: currentcolor;
      opacity: 0;
      transform: scale(0.6);
      transition: all theme.$transition-default;
    }

    &.disabled {
      cursor: not-allowed;
      opacity: 0.6;
    }
  }

  .radioInput:checked+.radioCircle::after {
    opacity: 1;
    transform: scale(1);
  }

  @each $name, $color in $radio-themes {
    &.#{$name} .radioCircle {
      border-color: $color;
      color: $color;
    }
  }

  .radioLabel {
    color: var(--text-color-primary);

    &.disabled {
      cursor: not-allowed;
    }
  }
}