@use "../../../styles/theme" as theme;
@use "../../../styles/globals";

.editorContainer {
  display: flex;
  flex-direction: column;
  gap: theme.$spacing-sm;
  padding: theme.$spacing-md;
  border: 1px solid var(--background-color-ligther);
  border-radius: theme.$border-radius-md;
  background-color: var(--background-color);
  color: var(--text-color-primary);


  .toolbar {
    display: flex;
    flex-wrap: wrap;
    gap: theme.$spacing-xs;

    .headingSelect {
      max-width: 150px;
    }

    button {
      &.active {
        background-color: var(--primary-color) !important;
        color: theme.$text-color-primary;
        border-color: theme.$link-hover-color-primary;
      }
    }
  }

  .editor {
    text-align: left;
    min-height: 200px;
    padding: theme.$spacing-sm;
    outline: none;
    border-radius: theme.$border-radius-sm;
    background-color: var(--background-color-ligther);

    p {
      margin: 0 0 theme.$spacing-sm 0;
    }

    h1,
    h2,
    h3,
    h4 {
      margin: theme.$spacing-sm 0;
      font-weight: theme.$font-weight-bold;
      color: var(--text-color-primary);
    }

    code {
      font-family: monospace;
      padding: 2px 4px;
      border-radius: 2px;
      background-color: theme.$disabled-color;
    }
  }

}