@use "../../../styles/theme" as theme;
@use "../../../styles/globals";
@use "sass:map";

$progress-sizes: (
  xs: 2px,
  small: 5px,
  medium: 10px,
  large: 15px,
  xl: 20px,
);

.progress {
  &_container {
    width: 100%;
    min-width: 100px;
    height: 10px;
    background-color: var(--background-color-lighter);
    overflow: hidden;
    position: relative;
  }

  &_bar {
    height: 100%;
    width: 0;
    transition: width 0.4s ease-in-out;
  }

  &_animated {
    animation: progress-grow 0.8s ease-out;
  }

  &_indeterminate {
    width: 100%;
    animation: indeterminate-move 1.5s infinite ease-in-out;
  }

  @each $theme, $color in theme.$themes {
    &_#{$theme} {
      background-color: map.get($color, bg);
    }
  }

  @each $state, $color in theme.$states {
    &_#{$state} {
      background-color: map.get($color, bg);
    }
  }

  @each $size, $height in $progress-sizes {
    &_#{$size} {
      height: $height;
    }
  }

  &_clear {
    background-color: var(--text-color-primary);
  }
}

@each $key, $value in theme.$rounding {
  .progress_round-#{$key} {
    border-radius: $value;
  }
}

@each $key, $value in theme.$shadow {
  .progress_shadow-#{$key} {
    box-shadow: $value;
  }
}
