@use "../../../styles/theme" as theme;
@use "sass:color";
@use "sass:map";

.empty_state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: theme.$spacing-lg;
  border-radius: theme.$border-radius-lg;
  background-color: var(--background-color-light);
  box-shadow: theme.$box-shadow-light;
  gap: theme.$spacing-xs;
  transition: theme.$transition-default;
  width: 400px;
  max-width: 100%;

  @media (width <= 768px) {
    width: 100%;
    padding: theme.$spacing-md;

    .title {
      font-size: theme.$font-size-base;
    }

    .message {
      font-size: theme.$font-size-sm;
    }

    .icon {
      font-size: 2.5em;
    }
  }

  @media (width <= 480px) {
    .title {
      font-size: theme.$font-size-sm;
    }

    .message {
      font-size: theme.$font-size-xs;
    }

    .icon {
      font-size: 2em;
    }
  }
}

.outline {
  background-color: transparent;
  border: 2px dashed var(--text-color-primary);
  box-shadow: none;
}

.disabled {
  opacity: 0.6;
  pointer-events: none;
}

.icon {
  font-size: 3em;
}

.title,
.message {
  margin: theme.$spacing-sm;
}

.title {
  font-size: theme.$font-size-lg;
  font-weight: theme.$font-weight-bold;
}

.message {
  font-size: theme.$font-size-base;
  opacity: 0.8;
  width: 90%;
}

@each $theme, $values in theme.$themes {
  .#{$theme} {
    background-color: map.get($values, bg);
    color: map.get($values, color);
  }

  .#{$theme}.outline {
    background-color: transparent;
    border: 2px dashed map.get($values, bg);
    color: map.get($values, text-color);
  }
}

.clear {
  box-shadow: none;
}

.clear.outline {
  color: var(--text-color-primary);
  border-color: var(--text-color-primary);
}

.disabled {
  opacity: 0.6;
  pointer-events: none;
}

$input-sizes: (
  "xs": theme.$spacing-xs,
  "small": theme.$spacing-sm,
  "medium": theme.$spacing-md,
  "large": theme.$spacing-lg,
  "xl": theme.$spacing-xl,
);
$font-sizes: (
  "xs": theme.$font-size-xs,
  "small": theme.$font-size-sm,
  "medium": theme.$font-size-md,
  "large": theme.$font-size-base,
  "xl": theme.$font-size-lg,
);
$icon-sizes: (
  "xs": 2em,
  "small": 3em,
  "medium": 3.5em,
  "large": 4em,
  "xl": 4.5em,
);

@each $size, $spacing in $input-sizes {
  .#{$size} {
    .title {
      padding: $spacing;
      font-size: map.get($font-sizes, $size);
    }

    .message {
      font-size: map.get($font-sizes, $size);
    }

    .icon {
      font-size: map.get($icon-sizes, $size);
    }
  }
}
