@use "../../../styles/theme" as theme;
@use "../../../styles/globals";
@use "sass:map";

$swatch-sizes: (
  xs: 20px,
  small: 24px,
  medium: 32px,
  large: 36px,
  xl: 40px,
);

.color_picker {
  border: none;
  padding: theme.$spacing-sm;
  display: flex;
  flex-direction: column;
  gap: theme.$spacing-xs;
  width: fit-content;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &_legend {
    font-size: theme.$font-size-sm;
    font-weight: theme.$font-weight-bold;
    margin-bottom: theme.$spacing-xs;
  }

  &_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
    gap: theme.$spacing-xs;
  }

  &_swatch {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 1px;
    cursor: pointer;
    outline: 2px solid transparent;
    transition: outline-color 0.2s ease-in-out;
    box-sizing: border-box;

    &.color_picker_selected,
    &:focus-visible {
      outline-color: var(--text-color-primary);
    }

    @each $size, $val in $swatch-sizes {
      &.color_picker_#{$size} {
        width: $val;
        height: $val;
      }
    }
  }

  &_radio_input {
    display: none;
  }

  &_preview {
    width: 80%;
    height: 80%;
    display: block;
    box-shadow: theme.$box-shadow-light;
    box-sizing: border-box;

    .color_picker_circle {
      border-radius: 50%;
    }

    .color_picker_square {
      border-radius: 6px;
    }

    .color_picker_rounded {
      border-radius: 9999px;
      height: 50%;
    }
  }

  &_custom_input {
    margin-top: theme.$spacing-xs;
    width: 100%;
  }
}

.color_picker_circle {
  border-radius: 50%;
}

.color_picker_square {
  border-radius: 6px;
}

.color_picker_rounded {
  border-radius: 9999px;
}

@each $key, $value in theme.$shadow {
  .color_picker_shadow-#{$key} {
    box-shadow: $value;
  }
}
