@use "../../../styles/theme" as theme;
@use "../../../styles/globals";
@use "sass:map";

$sizes: (
  "xs": theme.$font-size-sm,
  "small": theme.$font-size-md,
  "medium": theme.$font-size-base,
  "large": theme.$font-size-lg,
  "xl": theme.$font-size-xl,
);

.rating_container {
  display: flex;
  align-items: center;
  gap: theme.$spacing-sm;
}

.rating {
  display: flex;
  align-items: center;
  gap: theme.$spacing-xs;

  @each $size, $font-size in $sizes {
    &_#{$size} {
      font-size: $font-size;
    }
  }

  &_label {
    font-size: theme.$font-size-md;
    line-height: 1;
    color: var(--text-color-primary);
    margin: 0;
    display: inline-flex;
    align-items: center;
  }

  &_star {
    transition:
      color 0.3s ease-in-out,
      transform 0.2s ease;
    color: var(--background-color-dark);

    svg {
      width: 1em;
      height: 1em;
      display: block;
    }
  }

  &_active {
    color: var(--primary-color);
  }

  @each $theme, $color in theme.$themes {
    &_#{$theme} {
      .rating_active {
        color: map.get($color, bg);
      }
    }
  }

  &_clear {
    .rating_active {
      color: var(--text-color-primary);
    }
  }
}

.rating_interactive .rating_star:hover {
  cursor: pointer;
  transform: scale(1.2);
}
