@use "../../../styles/theme" as theme;
@use "../../../styles/globals";
@use "sass:map";

$positions: (
  "top": (
    tooltip: (
      bottom: 100%,
      left: 50%,
      transform: translateX(-50%),
      margin-bottom: 8px,
    ),
    arrow: (
      top: 100%,
      left: 50%,
      transform: translateX(-50%),
    ),
  ),
  "bottom": (
    tooltip: (
      top: 100%,
      left: 50%,
      transform: translateX(-50%),
      margin-top: 8px,
    ),
    arrow: (
      bottom: 100%,
      left: 50%,
      transform: translateX(-50%),
    ),
  ),
  "left": (
    tooltip: (
      right: 100%,
      top: 50%,
      transform: translateY(-50%),
      margin-right: 8px,
    ),
    arrow: (
      left: 99%,
      top: 50%,
      transform: translateY(-50%) rotate(-180deg),
    ),
  ),
  "right": (
    tooltip: (
      left: 100%,
      top: 50%,
      transform: translateY(-50%),
      margin-left: 8px,
    ),
    arrow: (
      right: 99%,
      top: 50%,
      transform: translateY(-50%) rotate(180deg),
    ),
  ),
);

.container {
  position: relative;
  display: inline-block;

  &:hover .tooltip {
    opacity: 1;
    visibility: visible;
  }
}

.tooltip {
  position: absolute;
  color: var(--text-color-primary);
  background-color: var(--primary-color);
  padding: theme.$spacing-xs theme.$spacing-sm;
  font-size: theme.$font-size-sm;
  border-radius: theme.$border-radius-md;
  box-shadow: theme.$box-shadow-medium;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
  transition:
    opacity 0.3s ease-in-out,
    transform 0.2s ease-in-out;

  &::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 6px;
    border-color: var(--primary-color) transparent transparent transparent;
  }
}

@each $className, $config in $positions {
  .#{$className} {
    @each $prop, $val in map.get($config, tooltip) {
      .tooltip {
        #{$prop}: $val;
      }
    }

    .tooltip::after {
      @each $prop, $val in map.get($config, arrow) {
        #{$prop}: $val;
      }
    }
  }
}

@each $name, $color in theme.$themes {
  .tooltip_#{$name} .tooltip {
    background-color: map.get($color, bg);
  }

  .tooltip_#{$name} .tooltip::after {
    border-color: map.get($color, bg) transparent transparent transparent;
  }

  .tooltip_#{$name}.tooltip_bottom .tooltip::after {
    border-color: transparent transparent map.get($color, bg);
  }

  .tooltip_#{$name}.tooltip_left .tooltip::after {
    border-color: transparent map.get($color, bg) transparent transparent;
  }

  .tooltip_#{$name}.tooltip_right .tooltip::after {
    border-color: transparent transparent transparent map.get($color, bg);
  }

  .tooltip_#{$name}.tooltip_secondary .tooltip {
    color: var(--text-color-secondary);
  }
}
