@use "sass:color";

$primary-color: #1c4d3a;
$secondary-color: #6e502e;
$background-color: #222e2e;
$background-color-surface: #384b4b;
$error-color: #f83838;
$success-color: #51c703;
$warning-color: #fca505;
$disabled-color: #b8b8b8dd;
$link-color: #8bb0c7;
$link-hover-color: #627e8f;
$link-hover-color-primary: color.mix(rgb(0 0 0), $primary-color, 20%);
$link-hover-color-secondary: color.mix(rgb(0 0 0), $secondary-color, 20%);
$text-color: rgb(255 255 255);
$text-color-light: color.adjust($text-color, $lightness: 20%);
$text-color-lighter: color.adjust($text-color, $lightness: 40%);
$text-color-primary: rgb(255 255 255);
$text-color-secondary: rgb(0 0 0);
$font-family-primary: "Lora", arial, sans-serif;
$font-family-secondary: "Lora", serif;
$font-size-xxs: 10px;
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-base: 18px;
$font-size-lg: 24px;
$font-size-xl: 32px;
$font-size-xxl: 45px;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-bolder: 900;
$spacing-xxs: 2px;
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;
$border-radius-xs: 0.5em;
$border-radius-sm: 1em;
$border-radius-md: 1.5em;
$border-radius-lg: 2em;
$border-radius-xl: 2.5em;
$border-radius-round: 50%;
$box-shadow-light: 0px 2px 4px rgb(46 49 49 / 10%);
$box-shadow-medium: 0px 4px 8px rgb(86 101 116 / 20%);
$box-shadow-large: 0px 6px 12px rgb(52 73 94 / 40%);
$transition-fast: 0.2s ease-in-out;
$transition-default: 0.3s ease-in-out;
$transition-slow: 0.5s ease-in-out;
$link-font-weight: $font-weight-bold;
$link-text-decoration: none;
$link-hover-decoration: underline;
$z-index-drawer: 90;
$z-index-modal: 100;
$z-index-tooltip: 110;
$themes: (
  "primary": (
    bg: var(--primary-color),
    hover: var(--primary-color-hover),
    text: var(--text-color-primary),
    border: var(--primary-color),
    text-hover: var(--text-color-primary),
  ),
  "secondary": (
    bg: var(--secondary-color),
    hover: var(--secondary-color-hover),
    text: var(--text-color-secondary),
    border: var(--secondary-color),
    text-hover: var(--text-color-secondary),
  ),
  "success": (
    bg: $success-color,
    hover: color.adjust($success-color, $lightness: -10%),
    text: var(--text-color-primary),
    border: $success-color,
    text-hover: var(--text-color-primary),
  ),
  "error": (
    bg: $error-color,
    hover: color.adjust($error-color, $lightness: -10%),
    text: var(--text-color-primary),
    border: $error-color,
    text-hover: var(--text-color-primary),
  ),
  "warning": (
    bg: $warning-color,
    hover: color.adjust($warning-color, $lightness: -10%),
    text: var(--text-color-primary),
    border: $warning-color,
    text-hover: var(--text-color-primary),
  ),
  "clear": (
    bg: transparent,
    color: var(--text-color-primary),
    text: var(--text-color-primary),
    hover: rgb(0 0 0 / 20%),
    text-hover: $disabled-color,
  ),
) !default;
