@use "../../../styles/theme" as theme;
@use "../../../styles/globals";
@use "sass:map";

.timeline {
  display: flex;
  flex-direction: column;
  position: relative;
  width: fit-content;
  height: fit-content;
  max-width: 600px;
  padding-left: theme.$spacing-md;
}

.timeline_horizontal {
  flex-direction: row;
  align-items: center;
  padding-left: 0;
  max-width: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;

  &::-webkit-scrollbar-track {
    background-color: transparent !important;
  }
}

.timeline_item {
  display: inline-flex;
  align-items: center;
  padding-bottom: theme.$spacing-sm;
  gap: theme.$spacing-sm;
  position: relative;
  text-align: center;

  &.timeline_horizontal {
    overflow: visible;
    gap: 0;
    margin-bottom: 2px;
  }

  &:not(:last-child)::after {
    content: "";
    position: absolute;
    left: 13.5px;
    top: 62%;
    width: 2px;
    height: 5em;
    background-color: var(--primary-color);
  }

  &.timeline_horizontal:not(:last-child)::after {
    top: 46%;
    left: 100%;
    width: 20px;
    height: 2px;
  }
}

.timeline_marker {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  min-width: 30px;
  min-height: 30px;
  border-radius: theme.$border-radius-round;
  background-color: var(--primary-color);
  color: var(--text-color-primary);
  font-size: theme.$font-size-sm;
  box-shadow: theme.$box-shadow-medium;
  transition: transform 0.3s ease-in-out;
  line-height: 0.5em;
}

.timeline_marker.timeline_horizontal {
  margin: 10px;
  overflow-x: visible;
}

.timeline_dot {
  width: 8px;
  height: 8px;
  background-color: var(--text-color-primary);
  border-radius: 50%;
}

.timeline_content {
  background: var(--background-color-lighter);
  padding: theme.$spacing-sm;
  border-radius: theme.$border-radius-md;
  box-shadow: theme.$box-shadow-light;
  flex: 1;
  min-width: 15rem;

  &.timeline_horizontal {
    overflow-x: visible;
  }
}

.timeline_title {
  text-align: center;
  font-weight: theme.$font-weight-bold;
  margin-bottom: theme.$spacing-xs;
}

.timeline_date {
  font-size: theme.$font-size-sm;
}

.timeline_description {
  font-size: theme.$font-size-md;
  margin-top: theme.$spacing-xs;
}

@each $theme, $color in theme.$themes {
  .timeline_#{$theme} {
    &.timeline_item:not(:last-child)::after {
      background-color: map.get($color, border);
    }

    &.timeline_marker {
      background-color: map.get($color, bg);
    }
  }
}

.timeline_clear .timeline_marker {
  box-shadow: none;
}
