@use "../../../styles/theme" as theme;
@use "../../../styles/globals";

.modalOverlay {
  position: fixed;
  inset: 0;
  background-color: rgb(0 0 0 / 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;


  .modalContent {
    background: var(--background-color-light);
    padding: theme.$spacing-lg;
    border-radius: theme.$border-radius-xs;
    box-shadow: theme.$box-shadow-large;
    transform: scale(0.95);
    opacity: 0;
    transition: transform 0.2s ease, opacity 0.2s ease;
  }

  &.visible {
    opacity: 1;
    pointer-events: auto;

    .modalContent {
      opacity: 1;
      transform: scale(1);
    }
  }

  &.hidden {
    opacity: 0;
    pointer-events: none;

    .modalContent {
      opacity: 0;
      transform: scale(0.95);
    }
  }

  .closeButton {
    position: absolute;
    top: theme.$spacing-sm;
    right: theme.$spacing-sm;
    z-index: 2;
  }

}