@use "../../../styles/theme" as theme;
@use "../../../styles/globals";
@use "sass:color";
@use "sass:map";

.empty_state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: theme.$spacing-lg;
  background-color: var(--background-color-light);
  gap: theme.$spacing-xs;
  transition: theme.$transition-default;
  width: 400px;
  max-width: 100%;

  &_icon {
    font-size: 3em;
  }

  &_title,
  &_message {
    margin: theme.$spacing-sm;
  }

  &_title {
    font-size: theme.$font-size-lg;
    font-weight: theme.$font-weight-bold;
  }

  &_message {
    font-size: theme.$font-size-base;
    opacity: 0.8;
    width: 90%;
  }

  @each $theme, $values in theme.$themes {
    &_#{$theme} {
      background-color: map.get($values, bg);
      color: map.get($values, color);
    }

    &_#{$theme}.empty_state_outline {
      background-color: transparent;
      border: 2px solid map.get($values, border);
      color: map.get($values, text-color);
    }
  }

  @each $state, $values in theme.$states {
    &_#{$state} {
      background-color: map.get($values, bg);
      color: map.get($values, color);
    }

    &_#{$state}.empty_state_outline {
      background-color: transparent;
      border: 2px solid map.get($values, bg);
      color: map.get($values, text-color);
    }
  }

  &_outline {
    background-color: transparent;
    box-shadow: none;
  }

  &_clear {
    box-shadow: none;
  }

  &_clear.empty_state_outline {
    color: var(--text-color-primary);
    border-color: var(--text-color-primary);
  }

  &_disabled {
    opacity: 0.6;
    pointer-events: none;
  }

  $input-sizes: (
    "xs": theme.$spacing-xs,
    "small": theme.$spacing-sm,
    "medium": theme.$spacing-md,
    "large": theme.$spacing-lg,
    "xl": theme.$spacing-xl,
  );
  $font-sizes: (
    "xs": theme.$font-size-xs,
    "small": theme.$font-size-sm,
    "medium": theme.$font-size-md,
    "large": theme.$font-size-base,
    "xl": theme.$font-size-lg,
  );
  $icon-sizes: (
    "xs": 2em,
    "small": 3em,
    "medium": 3.5em,
    "large": 4em,
    "xl": 4.5em,
  );

  @each $size, $spacing in $input-sizes {
    &_#{$size} {
      .empty_state_title {
        padding: $spacing;
        font-size: map.get($font-sizes, $size);
      }

      .empty_state_message {
        font-size: map.get($font-sizes, $size);
      }

      .empty_state_icon {
        font-size: map.get($icon-sizes, $size);
      }
    }
  }

  @media (width <= 768px) {
    width: 100%;
    padding: theme.$spacing-md;

    .empty_state_title {
      font-size: theme.$font-size-base;
    }

    .empty_state_message {
      font-size: theme.$font-size-sm;
    }

    .empty_state_icon {
      font-size: 2.5em;
    }
  }

  @media (width <= 480px) {
    .empty_state_title {
      font-size: theme.$font-size-sm;
    }

    .empty_state_message {
      font-size: theme.$font-size-xs;
    }

    .empty_state_icon {
      font-size: 2em;
    }
  }
}

@each $key, $value in theme.$rounding {
  .empty_state_round-#{$key} {
    border-radius: $value;
  }
}

@each $key, $value in theme.$shadow {
  .empty_state_shadow-#{$key} {
    box-shadow: $value;
  }
}
