@use "../../../styles/theme" as theme;
@use "sass:color";
@use "sass:map";

.icon_button {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0.8rem;
  border: none;
  transition: theme.$transition-default;
  text-decoration: none;
  color: inherit;
  transform-origin: center;

  &:hover {
    text-decoration: none;
    transform: scale(1.05);
    cursor: pointer;
  }

  &:focus {
    outline: 2px solid theme.$disabled-color;
    outline-offset: 2px;
  }

  @each $key, $value in theme.$rounding {
    &_round-#{$key} {
      border-radius: $value;
    }
  }

  @each $key, $value in theme.$shadow {
    &_shadow-#{$key} {
      box-shadow: $value;
    }
  }

  .svg {
    height: 20px;
    width: 20px;
  }

  @each $name, $values in theme.$themes {
    &_#{$name} {
      background-color: map.get($values, bg);
      color: map.get($values, text);

      &:hover {
        background-color: map.get($values, hover);
      }

      &.icon_button_outline {
        background-color: transparent;
        color: map.get($values, border);
        border: 2px solid map.get($values, border);
      }

      &.icon_button_outline:hover {
        border-color: map.get($values, hover);
        color: map.get($values, text);
      }
    }
  }

  @each $name, $values in theme.$states {
    &_#{$name} {
      background-color: map.get($values, bg);
      color: map.get($values, text);

      &:hover {
        background-color: map.get($values, hover);
      }

      &.icon_button_outline {
        background-color: transparent;
        color: map.get($values, border);
        border: 2px solid map.get($values, border);
      }

      &.icon_button_outline:hover {
        border-color: map.get($values, hover);
        color: map.get($values, text);
      }
    }
  }

  $sizes: (
    "xs": (
      size: 25px,
      label: theme.$font-size-xs,
      icon: 0.7rem,
    ),
    "small": (
      size: 30px,
      label: theme.$font-size-sm,
      icon: 1rem,
    ),
    "medium": (
      size: 40px,
      label: theme.$font-size-md,
      icon: 1.2rem,
    ),
    "large": (
      size: 50px,
      label: theme.$font-size-lg,
      icon: 1.3rem,
    ),
    "xl": (
      size: 60px,
      label: theme.$font-size-lg,
      icon: 1.5rem,
    ),
  );

  @each $size, $values in $sizes {
    &_#{$size} {
      width: map.get($values, size);
      height: map.get($values, size);

      svg {
        width: map.get($values, icon);
        height: map.get($values, icon);
      }
    }
  }

  &_disabled {
    background-color: theme.$disabled-color;
    color: var(--text-color-primary);
    cursor: not-allowed;
    pointer-events: none;
    box-shadow: none;
  }

  &_loader {
    width: 1.2rem;
    height: 1.2rem;
    border: 2px solid transparent;
    border-top-color: var(--text-color-primary);
    border-radius: 50%;
    animation: spin 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  }
}
