@use "../../../styles/theme" as theme;
@use "../../../styles/globals";
@use "sass:color";
@use "sass:map";

.datetime_picker {
  &_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: theme.$spacing-xs;
  }

  &_input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    display: none;
    appearance: none;
  }

  &_input[type="datetime-local"] {
    border: 0;
  }

  &_label {
    font-size: theme.$font-size-sm;
    font-weight: theme.$font-weight-bold;
    margin-bottom: theme.$spacing-xs;
  }

  &_inputWrapper {
    position: relative;
    display: inline-flex;
    align-items: center;
    width: 100%;
  }

  &_input {
    z-index: 1;
    width: 100%;
    padding: theme.$spacing-sm;
    border: 2px solid transparent;
    font-size: theme.$font-size-base;
    background-color: transparent;
    color: var(--text-color-primary);
    transition: border-color 0.2s ease-in-out;

    &:focus {
      outline: none;
      border-color: var(--text-color-primary);
    }

    &::-webkit-calendar-picker-indicator {
      opacity: 1;
      filter: invert(1);
      z-index: 2;
      cursor: pointer;
    }
  }

  &_icon {
    font-size: theme.$font-size-base;
    cursor: pointer;
    z-index: 2;
    pointer-events: auto;
    transition: color 0.2s ease-in-out;
    color: var(--text-color-primary);
    line-height: 1em;
    background-color: transparent;
    border: none;
    padding: 0px;
    margin: 0px;
  }

  @each $theme, $values in theme.$themes {
    &_#{$theme} &_input {
      background-color: map.get($values, bg);
      color: map.get($values, text);

      &:focus {
        border-color: map.get($values, focus);
      }
    }

    &_#{$theme}.datetime_picker_outline &_input {
      border: 2px solid map.get($values, bg);

      &:focus {
        border-color: map.get($values, focus);
      }

      &:hover {
        border-color: map.get($values, color);
      }
    }
  }

  @each $state, $values in theme.$states {
    &_#{$state} &_input {
      background-color: map.get($values, bg);
      color: map.get($values, text);

      &:focus {
        border-color: map.get($values, focus);
      }
    }

    &_#{$state}.datetime_picker_outline &_input {
      border: 2px solid map.get($values, bg);

      &:focus {
        border-color: map.get($values, focus);
      }

      &:hover {
        border-color: map.get($values, color);
      }
    }
  }

  &_outline .datetime_picker_input {
    background-color: transparent;
    box-shadow: none;
  }

  &_clear.datetime_picker_outline .datetime_picker_input {
    color: var(--text-color-primary);
    border: 2px solid var(--text-color-primary);
  }

  &_disabled .datetime_picker_input {
    opacity: 0.6;
    pointer-events: none;
    background-color: theme.$disabled-color;
    color: var(--text-color-secondary);
    cursor: not-allowed;
  }

  &_disabled .datetime_picker_icon {
    opacity: 0.6;
    pointer-events: none;
    color: var(--text-color-secondary);
    cursor: not-allowed;
  }

  $input-sizes: (
    "xs": (
      padding: 4px 3px,
      font-size: theme.$font-size-xs,
      max-width: 160px,
      icon-margin: -22px,
      icon-size: 15px,
    ),
    "small": (
      padding: 6px 10px,
      font-size: theme.$font-size-sm,
      max-width: 190px,
      icon-margin: -30px,
      icon-size: 20px,
    ),
    "medium": (
      padding: 6px 10px,
      font-size: theme.$font-size-md,
      max-width: 215px,
      icon-margin: -32px,
      icon-size: 22px,
    ),
    "large": (
      padding: 8px 16px,
      font-size: theme.$font-size-base,
      max-width: 250px,
      icon-margin: -42px,
      icon-size: 25px,
    ),
    "xl": (
      padding: 10px 20px,
      font-size: theme.$font-size-lg,
      max-width: 320px,
      icon-margin: -50px,
      icon-size: 30px,
    ),
  );

  @each $size, $props in $input-sizes {
    &_#{$size} .datetime_picker_input {
      padding: map.get($props, padding);
      font-size: map.get($props, font-size);
      max-width: map.get($props, max-width);
    }

    &_#{$size} .datetime_picker_icon {
      margin-left: map.get($props, icon-margin);

      svg {
        height: map.get($props, icon-size);
        width: map.get($props, icon-size);
      }
    }
  }

  &_description {
    font-size: theme.$font-size-sm;
    color: var(--text-color-primary);
  }
}

@each $key, $value in theme.$rounding {
  .datetime_picker_round-#{$key} .datetime_picker_input {
    border-radius: $value;
  }
}

@each $key, $value in theme.$shadow {
  .datetime_picker_shadow-#{$key} .datetime_picker_input {
    box-shadow: $value;
  }
}
