@use "@styles/theme" as theme;

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: theme.$spacing-md;
}

.label {
  font-weight: theme.$font-weight-bold;
  color: var(--text-color-primary);
  font-size: theme.$font-size-base;
  margin-bottom: theme.$spacing-xxs;
}

.required {
  color: theme.$error-color;
  margin-left: 4px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;

  @media (width >= 600px) {
    flex-direction: row;
    gap: theme.$spacing-sm;
    align-items: center;
  }
}

.inputField {
  width: 100%;
}

.controller {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: theme.$spacing-xs;

  @media (width >= 480px) {
    margin-top: 0;
  }
}

.description,
.errorMessage {
  font-size: theme.$font-size-sm;
  margin-top: 4px;
}

.description {
  color: var(--text-color-primary);
}

.errorMessage {
  color: theme.$error-color;
}

.horizontal {
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;

  .label {
    margin-bottom: 0;
    margin-right: theme.$spacing-sm;
    width: auto;
    text-align: left;

    @media (width >= 600px) {
      width: 150px;
      text-align: right;
    }
  }

  .inputWrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (width >= 600px) {
      align-items: flex-start;
      gap: theme.$spacing-xxs;
    }
  }

  .inputField {
    width: 100%;
    flex: 1;
  }

  .controller {
    margin-left: auto;
    margin-right: theme.$spacing-sm;
  }

  .description,
  .errorMessage {
    margin-left: 0;
    margin-bottom: 0;
    text-align: left;
    line-height: 1em;
  }
}

$size-margins: (
  "xs": theme.$spacing-xs,
  "small": theme.$spacing-sm,
  "medium": theme.$spacing-md,
  "large": theme.$spacing-lg,
  "xl": theme.$spacing-xl
);

@each $size, $spacing in $size-margins {
  .#{$size} {
    margin-bottom: $spacing;
  }
}
