@use "../../../styles/theme" as theme;
@use "../../../styles/globals";
@use "sass:map";

.footer {
  display: flex;
  justify-content: center;
  width: 100%;

  @each $theme, $values in theme.$themes {
    &_#{$theme} {
      background-color: map.get($values, bg);
      color: map.get($values, text);
    }
  }

  @each $key, $value in theme.$rounding {
    &_round-#{$key} {
      border-top-left-radius: $value;
      border-top-right-radius: $value;
    }
  }

  @each $key, $value in theme.$shadow {
    &_shadow-#{$key} {
      box-shadow: $value;
    }
  }

  &_attachment-static {
    position: static;
  }

  &_attachment-sticky {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }

  &_attachment-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 200;
  }
}

.footer_content {
  width: 100%;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: theme.$spacing-md;

  @media (width <= 1170px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: theme.$spacing-md;
  }

  .footer_left {
    display: flex;
    align-items: center;

    p {
      font-size: theme.$font-size-sm;
      color: var(--text-color-primary);
      margin: 0;
    }

    @media (width <= 1170px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      gap: theme.$spacing-md;
    }
  }

  .footer_links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: theme.$spacing-md;
    padding-left: theme.$spacing-lg;

    ul {
      list-style: none;
      display: flex;
      gap: theme.$spacing-md;
      padding: 0;
      margin: 0;
    }

    li {
      display: inline;
    }

    a {
      text-decoration: none;
      font-size: theme.$font-size-sm;
      color: var(--text-color-primary);

      &:hover {
        text-decoration: underline;
      }
    }

    @media (width <= 1170px) {
      padding-left: 0;

      ul {
        flex-direction: column;
        align-items: center;
        gap: theme.$spacing-xs;
      }
    }
  }

  .footer_logo {
    max-height: 20px;
    margin-right: theme.$spacing-lg;

    img {
      max-height: 100%;
    }

    svg {
      height: 1em;
      width: 1em;
    }

    @media (width <= 1170px) {
      margin: auto;
    }
  }

  .footer_social {
    display: flex;
    flex-wrap: wrap;
    gap: theme.$spacing-xs;
    margin-left: auto;

    @media (width <= 1170px) {
      margin-left: 0;
      justify-content: center;
    }

    @media (width <= 500px) {
      flex-wrap: wrap;
    }
  }

  .footer_theme_toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;

    @media (width <= 1170px) {
      margin-left: 0;
      margin-top: theme.$spacing-xs;
    }
  }
}
