@use "../../../styles/theme" as theme;
@use "../../../styles/globals";
@use "sass:map";

$sizes: (
  "xs": theme.$font-size-sm,
  "small": theme.$font-size-md,
  "medium": theme.$font-size-base,
  "large": theme.$font-size-lg,
  "xl": theme.$font-size-xl,
);

.container {
  display: flex;
  align-items: center;
  gap: theme.$spacing-xs;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: theme.$spacing-xs;

  @each $size, $font-size in $sizes {
    &.#{$size} {
      font-size: $font-size;
    }
  }

  &.label {
    font-size: theme.$font-size-md;
    line-height: 1;
    color: var(--text-color-primary);
    margin: 0;
    display: inline-flex;
    align-items: center;
  }

  &.interactive {
    cursor: pointer;

    .star:hover {
      transform: scale(1.2);
    }
  }

  .star {
    transition:
      color 0.3s ease-in-out,
      transform 0.2s ease;
    color: var(--background-color-dark);

    svg {
      width: 1em;
      height: 1em;
      display: block;
    }
  }

  .active {
    color: var(--primary-color);
  }

  @each $theme, $color in theme.$themes {
    &.#{$theme} {
      .active {
        color: map.get($color, bg);
      }
    }
  }

  @each $state, $color in theme.$states {
    &.#{$state} {
      .active {
        color: map.get($color, bg);
      }
    }
  }

  &.clear {
    .active {
      color: var(--text-color-primary);
    }
  }
}
