@use "../../../styles/theme" as theme;
@use "../../../styles/globals.scss";

$themes: (
  "primary": var(--primary-color),
  "secondary": var(--secondary-color),
  "success": theme.$success-color,
  "error": theme.$error-color,
  "warning": theme.$warning-color,
  "clear": transparent
);

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: theme.$spacing-sm theme.$spacing-md;
  background-color: var(--background-light-color);
  color: var(--text-color-primary);
  box-shadow: theme.$box-shadow-medium;
  gap: theme.$spacing-sm;


  @each $theme, $color in $themes {
    .toolbar.#{$theme} {
      background-color: $color;

      @if $theme =="clear" {
        box-shadow: none;
      }

      @if $theme =="secondary" {
        color: var(--text-color-secondary);
      }

      @else {
        color: var(--text-color-primary);
      }
    }
  }

  .section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    &:first-child {
      justify-content: flex-start;
    }

    &:last-child {
      justify-content: flex-end;
    }

    @media (width <=600px) {
      width: 100%;
      justify-content: space-between;
      margin-bottom: theme.$spacing-xs;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .title {
    font-size: theme.$font-size-base;
    font-weight: theme.$font-weight-bold;
    margin: 0;

    @media (width <=600px) {
      font-size: theme.$font-size-md;
      margin-bottom: theme.$spacing-xs;
    }
  }

  .avatarWrapper {
    margin-left: theme.$spacing-sm;

    @media (width <=600px) {
      margin-left: 0;
      margin-top: theme.$spacing-xs;
    }
  }

}