@use "../../../styles/theme" as theme;
@use "../../../styles/globals";
@use "sass:color";
@use "sass:map";

.card {
  overflow: hidden;
  margin: theme.$spacing-sm;
  position: relative;
  background-color: theme.$background-color-surface;
  display: flex;
  flex-direction: column;
  max-width: 450px;
  width: fit-content;
  height: fit-content;
  color: var(--text-color-primary);
  transition: transform 0.3s ease;

  @each $key, $value in theme.$rounding {
    &_round-#{$key} {
      border-radius: $value;
    }
  }

  @each $key, $value in theme.$shadow {
    &_shadow-#{$key} {
      box-shadow: $value;
    }
  }

  &_loading {
    background: none !important;
    box-shadow: none !important;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 250px;
  }

  &_fade-in {
    animation: fade-in 0.8s ease-in-out;
  }

  &_image {
    width: 100%;
    height: auto;
    position: relative;
    object-fit: cover;
    border-bottom: 1px solid rgb(0 0 0 / 5%);
  }

  &_vertical {
    flex-direction: column;

    .card_content {
      flex-direction: column;
    }

    .card_image {
      width: 100%;
      max-height: 200px;
    }
  }

  &_disabled {
    background-color: theme.$disabled-color;
    color: var(--text-color-primary);
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.6;
    box-shadow: none;
  }

  &_outline {
    background: transparent;
    border: 2px solid currentcolor;
    box-shadow: none;
  }

  @each $name, $props in theme.$themes {
    &_#{$name} {
      background: linear-gradient(
        to bottom,
        map.get($props, bg),
        map.get($props, bg)
      );
      color: var(--text-color-primary);

      .card_icon,
      .card_description {
        color: var(--text-color-primary);
      }

      .card_loading {
        background-color: transparent;
      }
    }

    &_#{$name}.card_outline {
      background: transparent;
      border: 2px solid map.get($props, border);
      box-shadow: none;
    }
  }

  @each $name, $props in theme.$states {
    &_#{$name} {
      background: linear-gradient(
        to bottom,
        map.get($props, bg),
        map.get($props, bg)
      );
      color: var(--text-color-primary);

      .card_icon,
      .card_description {
        color: var(--text-color-primary);
      }

      .card_loading {
        background-color: transparent;
      }
    }

    &_#{$name}.card_outline {
      background: transparent;
      border: 2px solid map.get($props, border);
      box-shadow: none;
    }
  }

  &_content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: theme.$spacing-md;
  }

  &_header,
  &_body {
    padding: theme.$spacing-md;
    display: flex;
  }

  &_body {
    display: flex;
    flex-direction: column;
    gap: theme.$spacing-sm;
    padding: theme.$spacing-sm;
  }

  &_title {
    font-weight: theme.$font-weight-bold;
    margin: 0;
    flex: 1;
    display: flex;
    gap: theme.$spacing-sm;
  }

  &_icon {
    font-size: 1.2em;
    display: flex;
    color: var(--text-color-primary);
  }

  &_description {
    color: var(--text-color-primary);
    width: 95%;
    margin: theme.$spacing-xxs auto;
  }

  &_footer {
    padding: theme.$spacing-md;
    border-top: 2px solid rgb(0 0 0 / 10%);
  }

  &_actions {
    display: flex;
    flex-wrap: wrap;
    padding: theme.$spacing-sm;
    gap: theme.$spacing-sm;
  }

  &_xs {
    .card_description {
      font-size: theme.$font-size-xs;
    }

    .card_icon {
      font-size: 0.9em;
    }

    .card_title {
      font-size: theme.$font-size-sm;
      line-height: 0.9em;
    }

    .card_children {
      font-size: theme.$font-size-xs;
    }
  }

  &_small {
    .card_description {
      font-size: theme.$font-size-sm;
    }

    .card_icon {
      font-size: 1em;
    }

    .card_title {
      font-size: theme.$font-size-md;
    }

    .card_children {
      font-size: theme.$font-size-sm;
    }
  }

  &_medium {
    .card_description {
      font-size: theme.$font-size-md;
    }

    .card_icon {
      font-size: 1.2em;
    }

    .card_title {
      font-size: theme.$font-size-base;
    }

    .card_children {
      font-size: theme.$font-size-md;
    }
  }

  &_large {
    .card_description {
      font-size: theme.$font-size-lg;
    }

    .card_icon {
      font-size: 1.4em;
    }

    .card_title {
      font-size: 1.4em;
    }

    .card_children {
      font-size: theme.$font-size-lg;
    }
  }

  &_xl {
    .card_description {
      font-size: theme.$font-size-xl;
    }

    .card_icon {
      font-size: 1.2em;
    }

    .card_title {
      font-size: 1.6em;
    }

    .card_children {
      font-size: theme.$font-size-xl;
    }
  }
}

.card_clear {
  box-shadow: none;
}

.card_left {
  text-align: left;

  .card_header,
  .card_body,
  .card_footer,
  .card_actions {
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
  }
}

.card_center {
  text-align: center;

  .card_header,
  .card_body,
  .card_footer,
  .card_actions {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.card_right {
  text-align: right;

  .card_header,
  .card_body,
  .card_footer,
  .card_actions {
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right;
  }
}

.card_horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  width: 100%;
  height: auto;
  max-width: 900px;

  .card_content {
    flex-direction: row;
    flex: 1;
    width: 100%;
    height: 100%;
  }

  .card_image {
    width: 50%;
    height: auto;
    aspect-ratio: 1.5;
    object-fit: cover;
    display: block;
  }

  .card_body {
    flex: 1;
    padding: theme.$spacing-md;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .card_footer {
    padding: theme.$spacing-md;
  }
}
