@use "../../../styles/theme" as theme;
@use "sass:map";

$themes: (
  "primary": var(--primary-color),
  "secondary": var(--secondary-color),
  "success": theme.$success-color,
  "error": theme.$error-color,
  "warning": theme.$warning-color,
  "clear": var(--background-color-darker),
);
$sizes: (
  "xs": (
    font: theme.$font-size-xs,
    padding: theme.$spacing-xs,
  ),
  "small": (
    font: theme.$font-size-sm,
    padding: theme.$spacing-sm,
  ),
  "medium": (
    font: theme.$font-size-md,
    padding: theme.$spacing-md,
  ),
  "large": (
    font: theme.$font-size-base,
    padding: theme.$spacing-lg,
  ),
  "xl": (
    font: theme.$font-size-lg,
    padding: theme.$spacing-lg,
  ),
);

.tabsContainer {
  width: 100%;
  margin: theme.$spacing-sm;
}

.tabs {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  border-bottom: 2px solid var(--text-color-primary);
  padding-bottom: theme.$spacing-sm;
  gap: theme.$spacing-xxs;

  @media (width <= 480px) {
    flex-direction: column;

    .tab {
      border-right: none;
      border-bottom: 0.5px solid var(--text-color-primary);
    }

    .tab:first-child {
      border-radius: 0;
      border-top-left-radius: theme.$border-radius-md;
      border-top-right-radius: theme.$border-radius-md;
    }

    .tab:last-child {
      border-radius: 0;
      border-bottom-left-radius: theme.$border-radius-md;
      border-bottom-right-radius: theme.$border-radius-md;
      border-bottom: none;
    }
  }
}

.tab {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  background: none;
  box-shadow: theme.$box-shadow-medium;
  border: none;
  color: var(--text-color-primary);
  font-weight: theme.$font-weight-bold;
  cursor: pointer;
  gap: theme.$spacing-xxs;
  transition:
    color theme.$transition-default,
    transform 0.2s ease-in-out;
  line-height: 1;
  border-right: 0.5px solid var(--text-color-primary);

  &:hover {
    transform: translateY(-2px);
  }

  &:focus {
    outline: 2px solid var(--focus-outline-color);
    outline-offset: 2px;
  }

  &:first-child {
    border-top-left-radius: theme.$border-radius-md;
    border-bottom-left-radius: theme.$border-radius-md;
  }

  &:last-child {
    border-top-right-radius: theme.$border-radius-md;
    border-bottom-right-radius: theme.$border-radius-md;
    border-right: none;
  }
}

@each $size, $props in $sizes {
  .tabsContainer.#{$size} .tab {
    font-size: map.get($props, font);
    padding: map.get($props, padding);
  }
}

.content {
  display: flex;
  flex-direction: column;
  padding: theme.$spacing-md;
  background-color: var(--background-color-dark);
  margin: auto;
  gap: theme.$spacing-xs;
  align-items: center;
  justify-content: center;

  @media (width <= 768px) {
    padding: theme.$spacing-sm;
  }

  @media (width <= 480px) {
    padding: 0;
  }
}

@each $theme, $color in $themes {
  .#{$theme} {
    .tab.active {
      background-color: $color;
      border-bottom-color: $color;
    }

    .tab:focus {
      outline: 2px solid $color;
      outline-offset: 2px;
    }
  }
}

.secondary .tab.active {
  color: var(--text-color-secondary);
}
