@use "../../../styles/theme" as theme;
@use "sass:map";
@use "sass:list";

$sizes: (
  "xs": (
    toggle: (
      30px,
      12px,
    ),
    slider: (
      8px,
      8px,
    ),
    translate: 15px,
  ),
  "small": (
    toggle: (
      40px,
      20px,
    ),
    slider: (
      16px,
      16px,
    ),
    translate: 18px,
  ),
  "medium": (
    toggle: (
      50px,
      28px,
    ),
    slider: (
      20px,
      20px,
    ),
    translate: 22px,
  ),
  "large": (
    toggle: (
      60px,
      34px,
    ),
    slider: (
      25px,
      25px,
    ),
    translate: 28px,
  ),
  "xl": (
    toggle: (
      70px,
      44px,
    ),
    slider: (
      30px,
      30px,
    ),
    translate: 32px,
  ),
);

.container {
  display: flex;
  align-items: center;
  gap: theme.$spacing-sm;
}

.label {
  font-size: theme.$font-size-md;
  color: var(--text-color-primary);
}

.toggle {
  background-color: theme.$disabled-color;
  position: relative;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  transition: background 0.3s ease-in-out;
  outline: none;

  .slider {
    background-color: var(--text-color-primary);
    position: absolute;
    left: 4px;
    transition: transform 0.3s ease-in-out;
  }

  &.active {
    background-color: var(--primary-color);
  }
}

@each $name, $vals in $sizes {
  .#{$name} {
    .toggle {
      width: list.nth(map.get($vals, toggle), 1);
      height: list.nth(map.get($vals, toggle), 2);

      .slider {
        width: list.nth(map.get($vals, slider), 1);
        height: list.nth(map.get($vals, slider), 2);
      }

      &.active .slider {
        transform: translateX(map.get($vals, translate));
      }
    }
  }
}

@each $theme, $color in theme.$themes {
  .#{$theme} .toggle.active {
    background-color: map.get($color, bg);
  }
}

@each $state, $color in theme.$states {
  .#{$state} .toggle.active {
    outline: 2px solid map.get($color, border);
  }
}

@each $key, $value in theme.$rounding {
  .round#{$key} {
    border-radius: $value;

    .slider {
      border-radius: $value;
    }
  }
}

@each $key, $value in theme.$shadow {
  .shadow#{$key} {
    box-shadow: $value;
  }
}

.clear .toggle.active {
  outline: 2px solid var(--text-color-primary);
}

.disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.6;
  box-shadow: none;

  .toggle.active {
    background-color: theme.$disabled-color;
  }
}
