@use "../../../styles/theme" as theme;
@use "../../../styles/globals";
@use "sass:color";
@use "sass:map";

.container {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  margin: theme.$spacing-sm;
  transition: theme.$transition-default;
  max-width: 400px;

  @media (width <=480px) {
    padding: 0.3rem 0.5rem;
    height: 35px;
    width: 95%;
  }

  input {
    width: 100%;
    border: none;
    border-radius: theme.$border-radius-lg;
    background-color: transparent;
    color: var(--text-color-primary);
  }
}

.textInput {
  outline: none;
  flex: 1;
  margin: theme.$spacing-sm;
  font-size: theme.$font-size-base;
  border: none;
  background-color: transparent;
  color: var(--text-color-primary);

  &::placeholder {
    color: var(--text-color-primary);
    opacity: 0.8;
  }

  @media (width <=480px) {
    width: 100%;
    font-size: calc(theme.$font-size-base * 0.9);
  }
}

.iconContainer {
  display: flex;
  box-sizing: border-box;
  margin: 0.1em;

  svg {
    width: 1em;
    height: 1em;
    color: var(--text-color-primary);

    @media (width <=480px) {
      width: 15px;
      height: 15px;
    }
  }
}

.togglePassword {
  padding: theme.$spacing-xs;
  box-sizing: border-box;

  @media (width <=480px) {
    margin-top: theme.$spacing-xs;
  }
}

@each $state, $vals in theme.$states {
  .#{$state} {
    border: 2px solid map.get($vals, border);
  }
}

@each $theme, $vals in theme.$themes {
  .#{$theme} {
    background-color: map.get($vals, bg);
    color: map.get($vals, text);

    &:hover {
      background-color: map.get($vals, hover);
    }

    .textInput::placeholder {
      color: map.get($vals, text);
    }

    .iconContainer svg {
      color: map.get($vals, text);
    }

    &.outline {
      background-color: transparent;
      color: map.get($vals, text);
      border: 2px solid map.get($vals, border);
    }
  }
}

.disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.6;
  background-color: theme.$disabled-color;

  .textInput {
    background-color: transparent;
  }
}

.clear {
  .textInput {
    border: none;
  }
}

@each $key, $value in theme.$rounding {
  .round#{$key} {
    border-radius: $value;

    input {
      border-radius: $value;
    }
  }
}

@each $key, $value in theme.$shadow {
  .shadow#{$key} {
    box-shadow: $value;
  }
}
