@use "../../../styles/theme" as theme;
@use "../../../styles/globals";
@use "sass:map";

$sizes: (
  "xs": (
    font-size: theme.$font-size-xs,
    padding: theme.$spacing-xxs theme.$spacing-xs,
  ),
  "small": (
    font-size: theme.$font-size-sm,
    padding: theme.$spacing-xxs theme.$spacing-xs,
  ),
  "medium": (
    font-size: theme.$font-size-md,
    padding: theme.$spacing-xs theme.$spacing-sm,
  ),
  "large": (
    font-size: theme.$font-size-base,
    padding: theme.$spacing-sm,
  ),
  "xl": (
    font-size: theme.$font-size-lg,
    padding: theme.$spacing-sm,
  ),
);

.tagInput {
  display: flex;
  position: relative;
  align-items: center;
  flex-wrap: wrap;
  gap: theme.$spacing-xxs;
  width: fit-content;
  border: 2px solid var(--background-light-color);
  border-radius: theme.$border-radius-lg;
  padding: theme.$spacing-xxs theme.$spacing-xs;
  transition: border-color theme.$transition-default;

  &:focus-within {
    border-color: var(--primary-color);
  }
}

.inputWrapper {
  list-style: none;

  li {
    list-style: none;
  }
}

.tagContainer {
  display: flex;
  max-width: 400px;
  max-height: 80px;
  flex-wrap: wrap;
  align-items: center;
  gap: theme.$spacing-xs;
  width: fit-content;
  overflow-y: auto;
}

.removeButton svg {
  color: theme.$error-color;
}

.tag {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  gap: theme.$spacing-xs;
  background-color: var(--primary-color);
  color: var(--text-color-primary);
  font-size: theme.$font-size-sm;
  padding: theme.$spacing-xxs theme.$spacing-xs;
}

.tagLabel {
  padding: theme.$spacing-xxs;
}

.suggestionList {
  position: absolute;
  align-self: flex-end;
  justify-self: flex-end;
  left: 0;
  right: 0;
  bottom: auto;
  top: 80%;
  width: fit-content;
  max-width: 300px;
  max-height: 200px;
  z-index: 10;
  display: flex;
  justify-content: right;
  flex-wrap: wrap;

  padding: 0;
  list-style: none;
  height: fit-content;
  overflow-y: auto;
}

.suggestionItem {
  padding: theme.$spacing-xs theme.$spacing-sm;
  font-size: theme.$font-size-sm;
  font-weight: theme.$font-weight-bold;
  color: var(--text-color-primary);
  cursor: pointer;
  transition: background-color theme.$transition-default;

  &:hover,
  &:focus {
    background-color: var(--background-secondary-light-color);
  }
}

@each $theme, $color in theme.$themes {
  .#{$theme} {
    .tag {
      background-color: map.get($color, bg);
    }
  }
}

@each $state, $color in theme.$states {
  .#{$state} {
    .tag {
      outline: 2px solid map.get($color, border);
    }
  }
}

@each $size, $props in $sizes {
  .#{$size} {
    .tag {
      font-size: map.get($props, font-size);
      padding: map.get($props, padding);
    }
  }
}

@each $key, $value in theme.$rounding {
  .round#{$key} {
    border-radius: $value;
  }
}

@each $key, $value in theme.$shadow {
  .shadow#{$key} {
    box-shadow: $value;
  }
}
