@use "../../../styles/theme" as theme;
@use "../../../styles/globals";
@use "sass:map";

$progress-sizes: (
  xs: 2px,
  small: 5px,
  medium: 10px,
  large: 15px,
  xl: 20px,
);

.container {
  width: 100%;
  min-width: 100px;
  height: 10px;
  background-color: var(--background-color-lighter);
  border-radius: theme.$border-radius-lg;
  overflow: hidden;
  position: relative;

  @each $size, $height in $progress-sizes {
    &.#{$size} {
      height: $height;
    }
  }
}

.bar {
  height: 100%;
  width: 0;
  border-radius: theme.$border-radius-lg;
  transition: width 0.4s ease-in-out;

  @each $theme, $color in theme.$themes {
    &.#{$theme} {
      background-color: map.get($color, bg);
    }
  }

  &.clear {
    background-color: var(--text-color-primary);
  }
}

.animated {
  animation: progress-grow 0.8s ease-out;
}

.indeterminate {
  width: 100%;
  animation: indeterminate-move 1.5s infinite ease-in-out;
}
