@use "../../../styles/theme" as theme;
@use "sass:color";
@use "sass:map";

.accordion {
  border-radius: theme.$border-radius-lg;
  margin-bottom: theme.$spacing-sm;
  transition: box-shadow theme.$transition-default;
}

.accordion_expanded .accordionHeader {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.accordion_expanded .accordionContent {
  border-bottom-left-radius: theme.$border-radius-md;
  border-bottom-right-radius: theme.$border-radius-md;
}

.accordion_disabled {
  background-color: theme.$disabled-color;
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.6;
}

.accordionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: var(--text-color-primary);
  padding: theme.$spacing-sm;
  font-size: theme.$font-size-base;
  font-weight: theme.$font-weight-bold;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  transition:
    background-color theme.$transition-default,
    border-radius theme.$transition-default;
  border-radius: theme.$border-radius-lg;

  &:focus-visible {
    outline: 2px solid var(--text-color-primary);
    outline-offset: 2px;
  }
}

.accordionHeader_clear {
  border: 1px solid var(--text-color-primary);
}

.accordionHeader_expanded {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.accordionTitle {
  flex-grow: 1;
}

.accordionIcon {
  font-size: 1.5rem;
  margin-right: 10px;
  transition: transform theme.$transition-default;
}

.accordionIcon_expanded {
  transform: rotate(180deg);
}

.accordionContent {
  box-sizing: border-box;
  padding: 0 theme.$spacing-md;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  background-color: var(--background-color-lighter);
  color: var(--text-color-primary);
  transition:
    max-height 0.3s ease,
    padding theme.$transition-default,
    border-radius theme.$transition-default,
    opacity theme.$transition-default;
}

.accordionContent_expanded {
  max-height: none;
  opacity: 1;
  padding: theme.$spacing-xl theme.$spacing-xl;
}

.accordionContent_clear {
  background-color: transparent;
  border: 1px solid var(--text-color-primary);
}

@each $name, $values in theme.$themes {
  .accordionHeader_#{$name} {
    background-color: map.get($values, bg);
    color: var(--text-color-primary);

    &:hover {
      background-color: map.get($values, hover);
    }
  }

  .accordionHeader_#{$name}_outline {
    background-color: transparent;
    border: 2px solid map.get($values, bg);
    color: map.get($values, text-color);

    &:hover {
      background-color: map.get($values, hover);
      color: map.get($values, text-hover);
    }
  }

  .accordionHeader_clear_outline {
    border: 2px solid var(--text-color-primary) !important;
  }
}

.xs .accordionHeader {
  padding: theme.$spacing-xs theme.$spacing-sm;
  font-size: theme.$font-size-xs;
}

.small .accordionHeader {
  padding: theme.$spacing-sm;
  font-size: theme.$font-size-sm;
}

.medium .accordionHeader {
  padding: theme.$spacing-sm;
  font-size: theme.$font-size-md;
}

.large .accordionHeader {
  padding: theme.$spacing-md;
  font-size: theme.$font-size-md;
}

.xl .accordionHeader {
  padding: theme.$spacing-lg;
  font-size: theme.$font-size-lg;
}

.xs .accordionIcon {
  font-size: 1rem;
}

.small .accordionIcon {
  font-size: 1.2rem;
}

.medium .accordionIcon {
  font-size: 1.5rem;
}

.large .accordionIcon {
  font-size: 1.8rem;
}

.xl .accordionIcon {
  font-size: 2rem;
}
