@use "../../../styles/theme" as theme;
@use "../../../styles/globals";
@use "sass:map";

.wrapper {
  display: inline-flex;
  align-items: center;
  gap: theme.$spacing-sm;
  font-size: theme.$font-size-base;
  cursor: pointer;
  user-select: none;
  transition: all theme.$transition-default;
  position: relative;
}

.input {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.circle {
  width: 18px;
  height: 18px;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all theme.$transition-default;

  &::after {
    content: "";
    width: 10px;
    height: 10px;
    background-color: currentcolor;
    opacity: 0;
    transform: scale(0.6);
    transition: all theme.$transition-default;
  }
}

@each $name, $color in theme.$themes {
  .#{$name} {
    color: map.get($color, bg);

    .circle {
      border-color: map.get($color, border);
    }
  }
}

@each $name, $color in theme.$states {
  .#{$name} {
    color: map.get($color, bg);

    .circle {
      border-color: map.get($color, border);
    }
  }
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;

  .circle {
    border-color: theme.$disabled-color;
  }
}

.clear .circle {
  border-color: var(--text-color-primary);
}

.input:checked + .circle::after {
  opacity: 1;
  transform: scale(1);
}

.clear .circle::after {
  background-color: var(--text-color-primary);
}

.label {
  color: var(--text-color-primary);
  transition: all theme.$transition-default;

  &.disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}

@each $key, $value in theme.$rounding {
  .round#{$key},
  .circle::after {
    border-radius: $value;
  }
}

@each $key, $value in theme.$shadow {
  .shadow#{$key} {
    box-shadow: $value;
  }
}
