@use "../../../styles/theme" as theme;
@use "sass:color";
@use "sass:map";

.badge {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  width: fit-content;
  font-size: theme.$font-size-sm;
  font-weight: theme.$font-weight-bold;
  padding: 6px 12px;
  border-radius: theme.$border-radius-sm;
  white-space: nowrap;
  transition: all theme.$transition-default;
  cursor: default;

  &.badge_clickable:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgb(0 0 0 / 15%);
    cursor: pointer;
  }

  &.badge_clickable:focus {
    outline: 2px solid var(--focus-outline-color);
    outline-offset: 2px;
  }
}

.badge_icon {
  font-size: 1.2em;
  margin-top: -0.1em;
}

.badge_clear {
  background-color: transparent;
  color: var(--text-color-primary);

  &.badge_clickable:hover {
    transform: translateY(-2px);
    box-shadow: theme.$box-shadow-heavy;
  }

  &.badge_clickable:focus {
    outline: 2px solid var(--text-color-primary);
    outline-offset: 2px;
  }

  &_outline {
    background-color: transparent;
    color: var(--text-color-primary);
    border: 2px solid var(--text-color-primary);

    &.badge_clickable:hover {
      transform: translateY(-2px);
      box-shadow: theme.$box-shadow-heavy;
    }

    &.badge_clickable:focus {
      outline: 2px solid var(--text-color-primary);
      outline-offset: 2px;
    }
  }
}

@each $key, $value in theme.$shadow {
  .badge_shadow-#{$key} {
    box-shadow: $value;
  }
}

@each $key, $value in theme.$rounding {
  .badge_round-#{$key} {
    border-radius: $value;
  }
}

@each $name, $values in theme.$themes {
  .badge_#{$name} {
    background-color: map.get($values, bg);
    color: map.get($values, text);

    &.badge_clickable:hover {
      background-color: map.get($values, hover);
      transform: translateY(-2px);
      box-shadow: theme.$box-shadow-heavy;
    }

    &.badge_clickable:focus {
      outline: 2px solid map.get($values, border);
      outline-offset: 2px;
    }

    .loader {
      border-top-color: map.get($values, text);
    }
  }

  .badge_#{$name}.badge_outline {
    background-color: transparent;
    color: map.get($values, text-color);
    border: 2px solid map.get($values, border);
    box-shadow: none;

    &.badge_clickable:hover {
      border-color: map.get($values, hover);
      color: map.get($values, text-hover);
    }
  }
}

@each $name, $values in theme.$states {
  .badge_#{$name} {
    background-color: map.get($values, bg);
    color: map.get($values, text);

    &.badge_clickable:hover {
      background-color: map.get($values, hover);
      transform: translateY(-2px);
      box-shadow: theme.$box-shadow-heavy;
    }

    &.badge_clickable:focus {
      outline: 2px solid map.get($values, border);
      outline-offset: 2px;
    }

    .loader {
      border-top-color: map.get($values, text);
    }
  }

  .badge_#{$name}.badge_outline {
    background-color: transparent;
    color: map.get($values, text-color);
    border: 2px solid map.get($values, border);
    box-shadow: none;

    &.badge_clickable:hover {
      border-color: map.get($values, hover);
      color: map.get($values, text-hover);
    }
  }
}

.badge_disabled {
  background-color: theme.$disabled-color;
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.6;
}

.badge_xs {
  font-size: theme.$font-size-xxs;
  padding: 2px 8px;
}

.badge_small {
  font-size: theme.$font-size-xs;
  padding: 4px 8px;
}

.badge_medium {
  font-size: theme.$font-size-sm;
  padding: 4px 10px;
}

.badge_large {
  font-size: theme.$font-size-md;
  padding: 4px 12px;
}

.badge_xl {
  font-size: theme.$font-size-lg;
  padding: 4px 14px;
}
