@use "../../../styles/theme" as theme;
@use "../../../styles/globals";
@use "sass:map";

.overlay {
  position: fixed;
  inset: 0;
  background: rgb(0 0 0 / 40%);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 10vh;
}

.command_palette {
  background: var(--background-color-light);
  border-radius: theme.$border-radius-lg;
  box-shadow: theme.$box-shadow-large;
  width: 90%;
  max-width: 500px;
  padding: theme.$spacing-md;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: theme.$spacing-sm;
}

.input {
  width: 90% !important;
  padding: 0;
  margin: 0 auto !important;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 300px;
  overflow-y: auto;
}

.item {
  padding: theme.$spacing-sm;
  cursor: pointer;
  border-radius: theme.$border-radius-sm;
  display: flex;
  margin: theme.$spacing-xs;
  align-items: center;
  gap: theme.$spacing-xs;
  line-height: 0.8em;
}

.icon {
  flex-shrink: 0;
}

.empty {
  padding: theme.$spacing-sm;
  color: theme.$disabled-color;
}

.active {
  font-weight: theme.$font-weight-bold;
}

@each $name, $values in theme.$themes {
  .#{$name} {
    border: 2px solid map.get($values, border);
  }

  .item.#{$name}.active {
    background-color: map.get($values, bg);
    color: if(
      $name == "primary",
      var(--text-color-primary),
      var(--text-color-secondary)
    );
  }

  .item.#{$name}:hover {
    background-color: map.get($values, hover);
  }
}

@each $name, $values in theme.$states {
  .#{$name} {
    border: 2px solid map.get($values, border);
  }

  .item.#{$name}.active {
    background-color: map.get($values, bg);
    color: if(
      $name == "primary",
      var(--text-color-primary),
      var(--text-color-secondary)
    );
  }

  .item.#{$name}:hover {
    background-color: map.get($values, hover);
  }
}

.clear {
  box-shadow: none;
}
